<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login Form</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->


<script type="text/javascript">
<!--
   function ReadCookie()
   {
      var allcookies = document.cookie;
     // document.write ("All Cookies : " + allcookies );
      console.log ("All Cookies : " + allcookies );
      // Get all the cookies pairs in an array
      cookiearray = allcookies.split(';');
      
      // Now take key value pair out of this array
      for(var i=0; i<cookiearray.length; i++){
         name = cookiearray[i].split('=')[0];
         value = cookiearray[i].split('=')[1];
       //  document.write ("Key is : " + name + " and Value is : " + value);
         console.log ("Key is : " + name + " and Value is : " + value);
         
         if(value == "logout") {
             document.getElementById('logout_cookie').style.display = 'block'; 
         }else {
             document.getElementById('logout_cookie').style.display = 'none'; 
         }
      }
   }

window.onload = function(){
        	    // code goes here
        	    ReadCookie();
        	};
//-->
</script>




</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div th:if="${param.error}">
			<label style="color: red">Invalid username and password.</label>

			<div class="dialog-row">
				<label style="color: red"
					th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
					class="text-center redText">Mot de passe inconnu</label>
			</div>

		</div>

	<div id="logout_cookie">
			<label> You have been logged out. </label>
	</div>
		
		<!-- <div id="" th:if="${param.logout}">
    <label>
        You have been logged out.
    </label>
</div> -->

		<!-- <div th:if="${session.sessionExpire}">
    <label>
        You have been logged out.
    </label>
</div>
th:text="${session.mySessionAttribute}" -->

		<form th:action="@{/login}" method="post">

			<table class="table table-striped">
				<tr>
					<td><label> User Name : <input type="text"
							name="username" />
					</label></td>
				</tr>
				<tr>
					<td><label> Password : <input type="password"
							name="password" />
					</label></td>
				</tr>

				<tr>
					<td><label> <input type="checkbox" id="remember-me"
							name="remember-me" />remember me
					</label></td>
				</tr>

				<tr>
					<td>
						<button type="submit" class="btn btn-default">Sign In</button>
					</td>
				</tr>
			</table>

		</form>
	</div>
</body>
</html>